<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增</title>
</head>
<body>
    <form action="/add" method="post">
    序号：<input type = "text" name = "pid" placeholder="序号" /><br/>
    标题：<input type = "text" name = "ptitle" placeholder="标题" /><br/>
    文章内容：<input type = "text" name = "pcontent" placeholder="文章内容" /><br/>
    创建时间：<input type = "text" name = "createtime" placeholder="创建时间" /><br/>
    创建者：<input type = "text" name = "createuser" placeholder="创建者" /><br/>
    修改时间：<input type = "text" name = "revisetime" placeholder="修改时间" /><br/>
    <input type = "submit" />
    </form>
</body>
</html>