<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="javascripts/jq.js"></script>
	<title>登录</title>

	<!--- CSS --->
	<link rel="stylesheet" href="css_now/loginstyle.css" type="text/css" />

	</head>

	<body>
		<div id="container">
			<div class = "welcome">
				<div class="login">LOGIN</div>
				<div class="username-text">Username:</div>
				<div class="password-text">Password:</div>
				<div class="username-field">
					<input id="name" type="text" name="name" placeholder="用户名" />
				</div>
				<div class="password-field">
					<input id="pass" type="password" name="pass" placeholder="****" />
				</div>
				<input type="checkbox" name="remember-me" id="remember-me" />
				<label for="remember-me">Remember me</label>
				<div class="forgot-usr-pwd">Forgot <a href="#">username</a> or <a href="#">password</a>?</div>
				<input id="login" type ="submit" value="登录" />
			</div>

    </body>
</html>
<script>
    $("#login").click(function(){
        $.ajax({
            type:"post",
            url : "/login",
            data:{"name":$("#name").val(),"pass":$("#pass").val()},
            success:function(data){
                if(data.status == 1){
                    alert("登录成功");
                    window.location = "/single"
                }
                else{
                    alert("登录失败")
                }
            }
        })
    })

</script>
