<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="javascripts/jq.js"></script>
    <title>注册</title>
    <!--- CSS --->
	<link rel="stylesheet" href="css_now/loginstyle.css" type="text/css" />

</head>
<body>
		<div id="container">
			<div class = "welcome">
				<div class="login">register</div>
				<div class="username-text">Username:</div>
				<div class="password-text">Password:</div>
				<div class="username-field">
					<input id="name" type ="text" name="name" placeholder="用户名"/>
				</div>
				<div class="password-field">
					<input id="pass" type ="password" name="pass" placeholder="密码"/>
				</div>
				<input type="checkbox" name="remember-me" id="remember-me" />
				<label for="remember-me">Remember me</label>
				<div class="forgot-usr-pwd">Forgot <a href="#">username</a> or <a href="#">password</a>?</div>
				<input id="enter" type ="submit" value="注册"/>
			</div>
		</div>
		
    <!-- <form action="/register" method="post"> -->
        <!-- <input id="name" type ="text" name="name" placeholder="用户名"/>
    <br/>
        <input id="pass" type ="password" name="pass" placeholder="密码"/>
    <br/>
        <input id="enter" type ="submit" value="注册"/> -->
    <!-- </form> -->

</body>
</html>
<script>
    $("#enter").click(function(){
        $.ajax({
            type:"post",
            url : "/register",
            data:{"name":$("#name").val(),"pass":$("#pass").val()},
            success:function(data){
                if(data.status == 1){
                    alert("注册成功");
                    window.location = "/index"
                }
                else{
                    alert("注册失败")
                }
            }
        })
    })

</script>

