<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="javascripts/jq.js"></script>
    <title>注册</title>
</head>
<body>
    <!-- <form action="/register" method="post"> -->
        <input id="name" type ="text" name="name" placeholder="用户名"/>
    <br/>
        <input id="pass" type ="password" name="pass" placeholder="密码"/>
    <br/>
        <input id="enter" type ="submit" value="注册"/>
    <!-- </form> -->

</body>
</html>
<script>
    $("#enter").click(function(){
        $.ajax({
            type:"post",
            url : "/register",
            data:{"name":$("#name").val(),"pass":$("#pass").val()},
            success:function(data){
                if(data.status == 1){
                    alert("注册成功");
                    window.location = "/index"
                }
                else{
                    alert("注册失败")
                }
            }
        })
    })

</script>

