<!DOCTYPE html>

<html class="smart-design-mode">
<head>

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Kappa China 官方网站" />
    <meta name="keywords" content="Kappa China 官方网站,Kappa,卡帕,背靠背,Kappa,KappaChina" />
    <meta name="renderer" content="webkit" />
    <meta name="applicable-device" content="pc" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <title>草东没有派对</title>
    <link rel="icon" href="//nwzimg.wezhan.cn/sitefiles10161/10161242/未标题-2.png"/><link rel="shortcut icon" href="//nwzimg.wezhan.cn/sitefiles10161/10161242/未标题-2.png"/><link rel="bookmark" href="//nwzimg.wezhan.cn/sitefiles10161/10161242/未标题-2.png"/>
    <link href="https://nwzimg.wezhan.cn/Designer/Content/bottom/pcstyle.css?_version=20201228162528" rel="stylesheet" type="text/css"/>
    <link href="https://nwzimg.wezhan.cn/Content/public/css/reset.css?_version=20201127172409" rel="stylesheet" type="text/css"/>
    <link href="https://nwzimg.wezhan.cn/static/iconfont/1.0.0/iconfont.css?_version=20201127172411" rel="stylesheet" type="text/css"/>
    <link href="https://nwzimg.wezhan.cn/static/iconfont/companyinfo/iconfont.css?_version=20201127172411" rel="stylesheet" type="text/css"/>
    <link href="https://nwzimg.wezhan.cn/Designer/Content/base/css/pager.css?_version=20201127172409" rel="stylesheet" type="text/css"/>
    <link href="https://nwzimg.wezhan.cn/Designer/Content/base/css/hover-effects.css?_version=20201228162528" rel="stylesheet" type="text/css"/>
    <link href="https://nwzimg.wezhan.cn/Designer/Content/base/css/antChain.css?_version=20201127172409" rel="stylesheet" type="text/css"/>


    
    <link href="//nwzimg.wezhan.cn/pubsf/10161/10161242/css/511271_Pc_zh-CN.css" rel="stylesheet" />
    <script src="https://nwzimg.wezhan.cn/Scripts/JQuery/jquery-1.10.2.min.js?_version=20201127172410" type="text/javascript"></script>
    <script src="https://nwzimg.wezhan.cn/Designer/Scripts/jquery.lazyload.min.js?_version=20201127172409" type="text/javascript"></script>
    <script src="https://nwzimg.wezhan.cn/Designer/Scripts/smart.animation.min.js?_version=20201127172409" type="text/javascript"></script>
    <script src="https://nwzimg.wezhan.cn/Designer/Content/Designer-panel/js/kino.razor.min.js?_version=20201127172409" type="text/javascript"></script>
    <script src="https://nwzimg.wezhan.cn/Scripts/common.min.js?v=20200318&_version=20201127172410" type="text/javascript"></script>
    <script src="https://nwzimg.wezhan.cn/Administration/Scripts/admin.validator.min.js?_version=20201127172408" type="text/javascript"></script>
    <script src="https://nwzimg.wezhan.cn/Administration/Content/plugins/cookie/jquery.cookie.js?_version=20201127172408" type="text/javascript"></script>
    <script type='text/javascript' id='jssor-all' src='https://nwzimg.wezhan.cn/Designer/Scripts/jssor.slider-22.2.16-all.min.js?_version=20201127172409' ></script><script type='text/javascript' id='jqueryzoom' src='https://nwzimg.wezhan.cn/Designer/Scripts/jquery.jqueryzoom.js?_version=20201127172409' ></script><script type='text/javascript' id='share' src='https://nwzimg.wezhan.cn/static/api/js/share.js?v=89860593.js' ></script><script type='text/javascript' id='slideshown' src='https://nwzimg.wezhan.cn/Designer/Scripts/slideshow.js?_version=20201127172409' ></script>
    
    <script type="text/javascript">
        $.ajaxSetup({
        cache: false,
        beforeSend: function (jqXHR, settings) {
        settings.data = settings.data && settings.data.length > 0 ? (settings.data + "&") : "";
        settings.data = settings.data + "__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val();
        return true;
        }
        });
    </script>
</head>
<body id="smart-body" area="main">

    <input type="hidden" id="pageinfo"
           value="511271"
           data-type="1"
           data-device="Pc"
           data-entityid="511271" />
    <input id="txtDeviceSwitchEnabled" value="show" type="hidden" />

    <script type="text/javascript">
        $(function() {

        if ("False"=="True") {
        $('#mainContentWrapper').addClass('translate');
        $('#antChainWrap').fadeIn(500);

        $('#closeAntChain').off('click').on('click', function(){
        $('#antChainWrap').fadeOut('slow',function(){
        $('#mainContentWrapper').removeClass('translate');
        });
        $(document).off("scroll",isWatchScroll);

        });
        $('#showQrcodeBtn').off('click').on('click', function(){
        $('#qrCodeWrappper').toggleClass('qrCodeShow');
        });
        $(document).scroll(isWatchScroll)
        }


        function isWatchScroll(){
        var scroH = $(document).scrollTop();
        if(scroH >= 80) {
        $('#mainContentWrapper').removeClass('translate');
        } else {
        $('#mainContentWrapper').addClass('translate');
        }
        }


        })
    </script>

    <div class="smvWrapper"  style="min-width:1200px;  position: relative; background-color: transparent; background-image: none; background-repeat: no-repeat; background:-moz-linear-gradient(top, none, none);background:-webkit-gradient(linear, left top, left bottom, from(none), to(none));background:-o-linear-gradient(top, none, none);background:-ms-linear-gradient(top, none, none);background:linear-gradient(top, none, none);;background-position:0 0;background-size:auto;" bgScroll="none">
        <div class="smvContainer" id="smv_Main" cpid="511271" style="min-height:400px;width:1200px;height:653px;  position: relative; ">
            <div id="smv_con_13_25" ctype="dialog" class="esmartMargin smartAbs smartFixed   " cpid="511271" cstyle="Style2" ccolor="Item0" areaId="" isContainer="True" pvid="" tareaId=""  re-direction="y" daxis="None" isdeletable="True" style="height: 46px; width: 100%; left: 0px; top: 0px;right:0px;margin:auto;z-index:24;">
                <div class="yibuFrameContent con_13_25  dialog_Style2  " style="overflow:visible;;" >
                    <div class="w-modal">
    <div class="w-modal-mask" id="smv_con_13_25_dialog_modal_mask"></div>
    <div class="w-modal-content">
        <div class="w-modal-content-inner">
            <div class="w-modal-close ">
                <i class="mw-iconfont">&#xa072;</i>
            </div>
            <div class="smAreaC ui-droppable" id="smc_Area0" cid="con_13_25" style="height:100%;width:100%;position: relative;">
            <div id="smv_con_14_53" ctype="listnews"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style2" ccolor="Item0" areaId="Area0" isContainer="False" pvid="con_13_25" tareaId=""  re-direction="all" daxis="All" isdeletable="True" style="height: 31px; width: 835px; left: -90px; top: -2px;z-index:2;">
                <div class="yibuFrameContent con_14_53  listnews_Style2  " style="overflow:visible;;" >    
                    <div class="w-article" id="ulList_con_14_53" style="height: 40px;">
        <div class="w-article-list clearfix" data-u="slides" style="height: 40px;">
                <div class="w-al-unit w-icon-hide">
                    <div class="w-al-item">
                        <span class="w-al-date w-hide">2019-07-04</span>

                        <div class="w-al-info">
                            <i class="mw-iconfont"></i>
                            <a href="/newsinfo/1334353.html" target="_self" class="w-al-title">
                                随着具识别度的品牌表示OMNI--两名背靠背而坐的男女享誉世界
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-al-unit w-icon-hide">
                    <div class="w-al-item">
                        <span class="w-al-date w-hide">2019-07-04</span>

                        <div class="w-al-info">
                            <i class="mw-iconfont"></i>
                            <a href="/newsinfo/1334352.html" target="_self" class="w-al-title">
                                品牌和产品所代表的生活方式
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-al-unit w-icon-hide">
                    <div class="w-al-item">
                        <span class="w-al-date w-hide">2019-07-04</span>

                        <div class="w-al-info">
                            <i class="mw-iconfont"></i>
                            <a href="/newsinfo/1334350.html" target="_self" class="w-al-title">
                                20世纪六七十年代在欧洲展露头角，逐步发展成为欧洲盛名的运动休闲服装品牌
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-al-unit w-icon-hide">
                    <div class="w-al-item">
                        <span class="w-al-date w-hide">2019-07-04</span>

                        <div class="w-al-info">
                            <i class="mw-iconfont"></i>
                            <a href="/newsinfo/1334349.html" target="_self" class="w-al-title">
                                Kappa品牌于1916年在意大利诞生
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script>
        $(function () {
            var control = $("#smv_con_14_53");
            control.find("img").cutFill();

            var jssor = new $JssorSlider$("ulList_con_14_53", {
                $AutoPlay: parseInt("1"),//自动播放
                $PlayOrientation: 2,
                $Idle: 0,
                $AutoPlaySteps: 1,
                $SlideDuration: parseInt("5000"),
                $SlideSpacing: parseInt("0"),
                $SlideEasing: $Jease$.$Linear,
                $SlideWidth: parseInt("835"),
                $SlideHeight: parseInt("40"),
                $Cols: parseInt("1")
            });
                    });
    </script>
</div></div>            </div>
        </div>
    </div>
</div>




    <script type="text/javascript">
                $(function () {
                    dialog_smv_con_13_25 =$('#smv_con_13_25').smartNPwzDialogControl({
                        controlId: 'smv_con_13_25', caption: '弹出窗口753125', hideByClickMask: true, delayed: 1000 ,isDefault:false,direction:'TopCenter'});
                });
    </script>
</div></div><div id="smv_con_6_58" ctype="area" class="esmartMargin smartAbs smartFixed  " cpid="511271" cstyle="Style1" ccolor="Item0" areaId="" isContainer="True" pvid="" tareaId=""  re-direction="all" daxis="All" isdeletable="True" style="height: 606px; width: 307px; left: 57px; top: 30px;z-index:13;"><div class="yibuFrameContent con_6_58  area_Style1  " style="overflow:visible;;" ><div class="w-container" data-effect-name="enterTop">
    <div class="smAreaC" id="smc_Area0" cid="con_6_58">
        <div id="smv_con_7_58" ctype="image"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style1" ccolor="Item0" areaId="Area0" isContainer="False" pvid="con_6_58" tareaId=""  re-direction="all" daxis="All" isdeletable="True" style="height: 58px; width: 325px; left: 23px; top: 25px;z-index:2;"><div class="yibuFrameContent con_7_58  image_Style1  " style="overflow:visible;;" >
    <div class="w-image-box" data-fillType="0" id="div_con_7_58">
        <a target="_self" href="/sy">
            <img src="//nwzimg.wezhan.cn/contents/sitefiles2032/10161242/images/8491908.png" alt="" title="" id="img_smv_con_7_58" style="width: 323px; height:56px;">
        </a>
    </div>

    <script type="text/javascript">
        $(function () {
        InitImageSmv("con_7_58", "323", "58", "0");
        });
    </script>

</div></div><div id="smv_con_48_34" ctype="tab"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style6" ccolor="Item0" areaId="Area0" isContainer="True" pvid="con_6_58" tareaId=""  re-direction="all" daxis="All" isdeletable="True" style="height: 492px; width: 187px; left: 95px; top: 114px;z-index:3;"><div class="yibuFrameContent con_48_34  tab_Style6  " style="overflow:visible;;" >
<div class="w-label" id="tab_con_48_34">
    <ul class="w-label-tips">
        <li class="w-label-tips-line"><span></span></li>
            <li class="w-label-tips-item " style="background-image:url(&quot;//nwzimg.wezhan.cn/contents/sitefiles2032/10161242/images/8736970.png&quot;);background-size: contain;background-position:50% 50%;" data-area="tabArea0">
                <a class="f-ellipsis" href="" target="_blank" style="line-height: 57px"></a>
                <span class="mask" style="background-image:url(&quot;//nwzimg.wezhan.cn/contents/sitefiles2032/10161242/images/8736970.png&quot;);background-size: contain;background-position:50% 50%;"></span>
            </li>
            <li class="w-label-tips-line"><span></span></li>
    </ul>
    <ul class="w-label-content">

            <li class="w-label-content-item " data-area="tabArea0">
                <div class="smAreaC" id="smc_tabArea0" cid="con_48_34" style="height: 433px;">
                    <div id="smv_con_49_34" ctype="nav"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style11" ccolor="Item0" areaId="tabArea0" isContainer="False" pvid="con_48_34" tareaId=""  re-direction="all" daxis="All" isdeletable="True" style="height: 346px; width: 180px; left: 3px; top: 11px;z-index:26;"><div class="yibuFrameContent con_49_34  nav_Style11  " style="overflow:visible;;" ><div id="nav_con_49_34" class="nav_pc_t_11">
    <ul class="w-nav" navstyle="style11">
                <li class="w-nav-inner" style="height:11.1111111111111%;line-height:38px">
                    <div class="w-nav-item">
                        <a href="/tianmao" target="_blank" class="w-nav-item-link">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">天猫旗舰店</span>
                        </a>
                        <a href="/tianmao" target="_blank" class="w-nav-item-link hover">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">天猫旗舰店</span>
                        </a>
                    </div>
                </li>
                <!-- <li class="w-nav-inner" style="height:11.1111111111111%;line-height:38px">
                    <div class="w-nav-item">
                        <a href="https://mall.jd.com/index-23130.html" target="_blank" class="w-nav-item-link">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">京东旗舰店</span>
                        </a>
                        <a href="https://mall.jd.com/index-23130.html" target="_blank" class="w-nav-item-link hover">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">京东旗舰店</span>
                        </a>
                    </div>
                </li> -->
                <li class="w-nav-inner" style="height:11.1111111111111%;line-height:38px">
                    <div class="w-nav-item">
                        <a href="/teamcloth" target="_blank" class="w-nav-item-link">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">队服定制</span>
                        </a>
                        <a href="/teamcloth" target="_blank" class="w-nav-item-link hover">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">队服定制</span>
                        </a>
                    </div>
                </li>
                <li class="w-nav-inner" style="height:11.1111111111111%;line-height:38px">
                    <div class="w-nav-item">
                        <a href="http://student.kappa.com.cn/index.htm" target="_blank" class="w-nav-item-link">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">学生装</span>
                        </a>
                        <a href="http://student.kappa.com.cn/index.htm" target="_blank" class="w-nav-item-link hover">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">学生装</span>
                        </a>
                    </div>
                </li>
                <li class="w-nav-inner" style="height:11.1111111111111%;line-height:38px">
                    <div class="w-nav-item">
                        <a href="/gmfs" target="_self" class="w-nav-item-link">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">购买方式</span>
                        </a>
                        <a href="/gmfs" target="_self" class="w-nav-item-link hover">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">购买方式</span>
                        </a>
                    </div>
                </li>
                <li class="w-nav-inner" style="height:11.1111111111111%;line-height:38px">
                    <div class="w-nav-item">
                        <a href="/gykappa" target="_self" class="w-nav-item-link">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">关于Kappa</span>
                        </a>
                        <a href="/gykappa" target="_self" class="w-nav-item-link hover">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">关于Kappa</span>
                        </a>
                    </div>
                </li>
                <li class="w-nav-inner" style="height:11.1111111111111%;line-height:38px">
                    <div class="w-nav-item">
                        <a href="/ppls" target="_self" class="w-nav-item-link">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">品牌历史</span>
                        </a>
                        <a href="/ppls" target="_self" class="w-nav-item-link hover">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">品牌历史</span>
                        </a>
                    </div>
                </li>
                <li class="w-nav-inner" style="height:11.1111111111111%;line-height:38px">
                    <div class="w-nav-item">
                        <a href="/kappahyzc" target="_blank" class="w-nav-item-link">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">Kappa会员</span>
                        </a>
                        <a href="/kappahyzc" target="_blank" class="w-nav-item-link hover">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">Kappa会员</span>
                        </a>
                    </div>
                </li>
                <li class="w-nav-inner" style="height:11.1111111111111%;line-height:38px">
                    <div class="w-nav-item">
                        <a href="/lxwm" target="_self" class="w-nav-item-link">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">联系我们</span>
                        </a>
                        <a href="/lxwm" target="_self" class="w-nav-item-link hover">
                            <span class="mw-iconfont"></span>
                            <span class="w-link-txt">联系我们</span>
                        </a>
                    </div>
                </li>


    </ul>
</div>

<script>
    $(function () {
        var $nav = $("#smv_con_49_34 .w-nav");
        var $subnav = $("#smv_con_49_34 .w-subnav");
        var rightBorder = parseInt($nav.css("border-right-width"));
        var leftBorder = parseInt($nav.css("border-left-width"));
        var topBorder = parseInt($nav.css("border-top-width"));
        var bottomBorder = parseInt($nav.css("border-bottom-width"));
        var height = $("#smv_con_49_34").height();
        var width = $('#smv_con_49_34').width();
        $nav.height(height - topBorder - bottomBorder);
        $nav.width(width - leftBorder - rightBorder);
        $subnav.css("left", width - leftBorder - rightBorder + "px");

        var $this, item, itemAll, navHei, link;
        $('#nav_con_49_34 .w-nav').find('.w-subnav').hide();
        $('#nav_con_49_34 .w-nav').off('mouseenter').on('mouseenter', '.w-nav-inner', function () {
            navHei = $('#nav_con_49_34 .w-nav .w-nav-item').height();
            itemAll = $('.w-nav').find('.w-subnav');
            $this = $(this);
            link = $this.find('.w-nav-item-link').eq(0);
            item = $this.find('.w-subnav');
            link.stop().animate({ marginTop: -navHei }, 300);
            item = $this.find('.w-subnav');
            item.fadeIn(150);
        }).off('mouseleave').on('mouseleave', '.w-nav-inner', function () {
            $this = $(this);
            item = $this.find('.w-subnav');
            link = $this.find('.w-nav-item-link').eq(0);
            link.stop().animate({ marginTop: 0 }, 300);
            item.stop().fadeOut(150);
        });

        SetNavSelectedStyle('nav_con_49_34');//选中当前导航
    });
</script></div></div>                </div>
            </li>
    </ul>
</div>
<style>
    #smv_con_48_34 {height:auto !important;}
</style>
<script type="text/javascript">
    var target_con_48_34;
    $(function () {
        var event = "mouseenter";
            
        $("#tab_con_48_34").on("mouseleave", function () {
            $("#tab_con_48_34 > .w-label-tips > .current").removeClass("current");
            $("#tab_con_48_34 > .w-label-content").stop().slideUp("fast");
        });
        $("#tab_con_48_34 > .w-label-tips").on("mouseenter", function () {
            $("#tab_con_48_34 > .w-label-content").stop().slideDown("fast");
        });
        
        $("#tab_con_48_34 > .w-label-tips >.w-label-tips-item").on(event, function () {
            $(this).siblings().removeClass("current");
            $(this).addClass("current");
            $(this).prev(".w-label-tips-line").addClass("current");
            $(this).next(".w-label-tips-line").addClass("current");
            var $content = $("#tab_con_48_34 >.w-label-content > .w-label-content-item[data-area='" + $(this).attr("data-area") + "']");
            $content.addClass("current").siblings().removeClass("current");
            
            $("#smv_con_48_34").attr("selectArea", $content.attr("data-area"));
            $content.find("img").cutFillAuto();
        });
        $("#smv_con_48_34").attr("selectArea", "tabArea0");
    });
</script>
</div></div>
<div id="smv_con_73_51" ctype="share"  class="smartRecpt esmartMargin smartAbs " cpid="511271" cstyle="Style4" ccolor="Item0" areaId="Area0" isContainer="False" pvid="con_6_58" tareaId=""  re-direction="x" daxis="All" isdeletable="True" style="min-height: 36px; width: 400px; left: 12px; top: 529px;z-index:27;"><div class="yibuFrameContent con_73_51  share_Style4  " style="overflow:hidden;;" ><!--w-share-->
<div class="bdsharebuttonbox w-share " data-tag="con_73_51" style="height:auto;display:none;">
    <span class="w-share-text">分享到：</span>
        <a href="#" class="bds_qzone" data-cmd="qzone" data-tag="share_large" title="分享到QQ空间"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" data-tag="share_large" title="分享到新浪微博"></a>
    <a href="#" class="bds_more" data-cmd="more" data-tag="share_large"></a>
    <!-- bds_count 添加 w-hide 隐藏 -->
    <a href="javascript:void(0)" class="bds_count ">0</a>
</div>
<!--/w-share-->
<script>
    $(function () {
        $("div[data-tag='con_73_51']").smartShareControl({ controlId: 'con_73_51', imageStyle: '1', bdSize: '16' });

        $('.w-share-text').siblings('.bds_more').map(function (i, it) {
            $(it).on('click',
                function () {
                    setTimeout(function () {
                        $('.bdshare_dialog_box').find('a[data-cmd="kaixin001"]').parent().remove();
                        $('.bdshare_dialog_box').find('a[data-cmd="bdhome"]').parent().remove();
                        $('.bdshare_dialog_box').find('a[data-cmd="bdysc"]').parent().remove();
                        $('.bdshare_dialog_box').find('a[data-cmd="youdao"]').parent().remove();
                        $('.bdshare_dialog_box').find('a[data-cmd="sdo"]').parent().remove();
                        $('.bdshare_dialog_box').find('a[data-cmd="qingbiji"]').parent().remove();
                        $('.bdshare_dialog_box').find('a[data-cmd="people"]').parent().remove();
                        $('.bdshare_dialog_box').find('a[data-cmd="xinhua"]').parent().remove();
                    },
                        200)
                });
            

            $(it).on('mouseenter',
                function () {
                    setTimeout(function () {
                        console.log($('.popup_more'));
                        $('.popup_more').off('click').on('click',
                            function () {
                                setTimeout(function () {
                                    $('.bdshare_dialog_box').find('a[data-cmd="kaixin001"]').parent().remove();
                                    $('.bdshare_dialog_box').find('a[data-cmd="bdhome"]').parent().remove();
                                    $('.bdshare_dialog_box').find('a[data-cmd="bdysc"]').parent().remove();
                                    $('.bdshare_dialog_box').find('a[data-cmd="youdao"]').parent().remove();
                                    $('.bdshare_dialog_box').find('a[data-cmd="sdo"]').parent().remove();
                                    $('.bdshare_dialog_box').find('a[data-cmd="qingbiji"]').parent().remove();
                                    $('.bdshare_dialog_box').find('a[data-cmd="people"]').parent().remove();
                                    $('.bdshare_dialog_box').find('a[data-cmd="xinhua"]').parent().remove();
                                },
                                    200)
                            });
                    },
                        200);
                });
        });
    });
</script>
</div></div>    </div>
</div></div></div><div id="smv_con_22_52" ctype="area" class="esmartMargin smartAbs smartFixed   " cpid="511271" cstyle="Style1" ccolor="Item0" areaId="Main" isContainer="True" pvid="" tareaId="Main"  re-direction="all" daxis="All" isdeletable="True" style="height: 241px; width: 272px; right: 130px; top: 50px;z-index:27;"><div class="yibuFrameContent con_22_52  area_Style1  " style="overflow:visible;;" ><div class="w-container" data-effect-name="enterTop">
    <div class="smAreaC" id="smc_Area0" cid="con_22_52">
        <div id="smv_con_23_52" ctype="tab"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style6" ccolor="Item0" areaId="Area0" isContainer="True" pvid="con_22_52" tareaId=""  re-direction="all" daxis="All" isdeletable="True" style="height: 213px; width: 150px; left: 40px; top: 15px;z-index:2;"><div class="yibuFrameContent con_23_52  tab_Style6  " style="overflow:visible;;" >
<div class="w-label" id="tab_con_23_52">
    <ul class="w-label-tips">
        <li class="w-label-tips-line"><span></span></li>
            <li class="w-label-tips-item " style="" data-area="tabArea0">
                <a class="f-ellipsis" href="" target="_blank" style="line-height: 49px"></a>
                <span class="mask" style=""></span>
            </li>
            <li class="w-label-tips-line"><span></span></li>
    </ul>
    <ul class="w-label-content">

            <li class="w-label-content-item " data-area="tabArea0">
                <div class="smAreaC" id="smc_tabArea0" cid="con_23_52" style="height: 160px;">
                    <div id="smv_con_24_52" ctype="image"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style1" ccolor="Item0" areaId="tabArea0" isContainer="False" pvid="con_23_52" tareaId=""  re-direction="all" daxis="All" isdeletable="True" style="height: 144px; width: 120px; left: 14px; top: 7px;z-index:2;"><div class="yibuFrameContent con_24_52  image_Style1  " style="overflow:visible;;" >
    <div class="w-image-box" data-fillType="0" id="div_con_24_52">
        <a target="_self" href="">
            <img src="/images/微信功能暂时不能使用.jpg" alt="未标题-1" title="未标题-1" id="img_smv_con_24_52" style="width: 118px; height:142px;">
        </a>
    </div>

    <script type="text/javascript">
        $(function () {
        InitImageSmv("con_24_52", "118", "144", "0");
        });
    </script>

</div></div>                </div>
            </li>
    </ul>
</div>
<style>
    #smv_con_23_52 {height:auto !important;}
</style>
<script type="text/javascript">
    var target_con_23_52;
    $(function () {
        var event = "mouseenter";
            
        $("#tab_con_23_52").on("mouseleave", function () {
            $("#tab_con_23_52 > .w-label-tips > .current").removeClass("current");
            $("#tab_con_23_52 > .w-label-content").stop().slideUp("fast");
        });
        $("#tab_con_23_52 > .w-label-tips").on("mouseenter", function () {
            $("#tab_con_23_52 > .w-label-content").stop().slideDown("fast");
        });
        
        $("#tab_con_23_52 > .w-label-tips >.w-label-tips-item").on(event, function () {
            $(this).siblings().removeClass("current");
            $(this).addClass("current");
            $(this).prev(".w-label-tips-line").addClass("current");
            $(this).next(".w-label-tips-line").addClass("current");
            var $content = $("#tab_con_23_52 >.w-label-content > .w-label-content-item[data-area='" + $(this).attr("data-area") + "']");
            $content.addClass("current").siblings().removeClass("current");
            
            $("#smv_con_23_52").attr("selectArea", $content.attr("data-area"));
            $content.find("img").cutFillAuto();
        });
        $("#smv_con_23_52").attr("selectArea", "tabArea0");
    });
</script>
</div></div><div id="smv_con_25_52" ctype="button"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style1" ccolor="Item1" areaId="Area0" isContainer="False" pvid="con_22_52" tareaId=""  re-direction="all" daxis="All" isdeletable="True" style="height: 53px; width: 52px; left: 174px; top: 14px;z-index:28;"><div class="yibuFrameContent con_25_52  button_Style1  " style="overflow:visible;;" ><a target="_blank" href="https://weibo.com/kappa?is_hot=1" class="w-button f-ellipsis" style="width: 50px; height: 51px; line-height: 51px;">
    <span class="w-button-position">
        <em class="w-button-text f-ellipsis">
            <i class="mw-iconfont w-button-icon w-icon-hide"></i>
        </em>
    </span>
</a>
    <script type="text/javascript">
        $(function () {
        });
    </script>
</div></div><div id="smv_con_34_56" ctype="image"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style1" ccolor="Item0" areaId="Area0" isContainer="False" pvid="con_22_52" tareaId="Main"  re-direction="all" daxis="All" isdeletable="True" style="height: 51px; width: 51px; left: 90px; top: 16px;z-index:1;"><div class="yibuFrameContent con_34_56  image_Style1  " style="overflow:visible;;" >
    <div class="w-image-box" data-fillType="0" id="div_con_34_56">
        <a target="_self" href="">
            <img src="//nwzimg.wezhan.cn/contents/sitefiles2032/10161242/images/8525658.png" alt="微信-2" title="微信-2" id="img_smv_con_34_56" style="width: 49px; height:49px;">
        </a>
    </div>

    <script type="text/javascript">
        $(function () {
        InitImageSmv("con_34_56", "49", "51", "0");
        });
    </script>

</div></div>    </div>
</div></div></div><div id="smv_con_72_4" ctype="line"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style1" ccolor="Item0" areaId="" isContainer="False" pvid="" tareaId=""  re-direction="x" daxis="All" isdeletable="True" style="height: 20px; width: 1138px; left: 62px; top: 612px;z-index:29;"><div class="yibuFrameContent con_72_4  line_Style1  " style="overflow:visible;;" ><!-- w-line -->
<div style="position:relative; height:100%">
    <div class="w-line" style="position:absolute;top:50%;" linetype="horizontal"></div>
</div>
</div></div><div id="smv_con_74_39" ctype="slideset"  class="esmartMargin smartAbs " cpid="511271" cstyle="Style3" ccolor="Item0" areaId="" isContainer="True" pvid="" tareaId=""  re-direction="y" daxis="Y" isdeletable="True" style="height: 607px; width: 100%; left: 0px; top: -1px;z-index:0;"><div class="yibuFrameContent con_74_39  slideset_Style3  " style="overflow:visible;;" >
<!--w-slide-->
<div class="w-slide" id="slider_smv_con_74_39">
    <div class="w-slide-inner" data-u="slides">

            <div class="content-box" data-area="Area0">
                <div id="smc_Area0" cid="con_74_39" class="smAreaC slideset_AreaC">
                                    </div>
                <div class="content-box-inner" style="background-image:url(//nwzimg.wezhan.cn/contents/sitefiles2032/10161242/images/17847870.jpg);background-position:50% 50%;background-repeat:cover;background-size:cover;background-color:#ffffff;opacity:1"></div>
            </div>
            <div class="content-box" data-area="Area1">
                <div id="smc_Area1" cid="con_74_39" class="smAreaC slideset_AreaC">
                                    </div>
                <div class="content-box-inner" style="background-image:url(//nwzimg.wezhan.cn/contents/sitefiles2032/10161242/images/19448820.jpg);background-position:50% 50%;background-repeat:cover;background-size:cover;background-color:#ffffff;opacity:1"></div>
            </div>
            <div class="content-box" data-area="Area2">
                <div id="smc_Area2" cid="con_74_39" class="smAreaC slideset_AreaC">
                                    </div>
                <div class="content-box-inner" style="background-image:url(//nwzimg.wezhan.cn/contents/sitefiles2032/10161242/images/10365432.jpg);background-position:50% 50%;background-repeat:cover;background-size:cover;background-color:#ffffff;opacity:1"></div>
            </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="w-slide-btn-box  " data-autocenter="1">
        <!-- bullet navigator item prototype -->
        <div class="w-slide-btn" data-u="prototype"></div>
    </div>
    <!-- 1Arrow Navigator -->
    <span data-u="arrowleft" class="w-slide-arrowl slideArrow  " data-autocenter="2" id="left_con_74_39">
        <i class="w-itemicon mw-iconfont">&#xa083;</i>
    </span>
    <span data-u="arrowright" class="w-slide-arrowr slideArrow  " data-autocenter="2" id="right_con_74_39">
        <i class="w-itemicon mw-iconfont">&#xa079;</i>
    </span>
</div>
<!--/w-slide-->
<script type="text/javascript">
    con_74_39_page = 1;
    con_74_39_sliderset3_init = function () {
        var jssor_1_options_con_74_39 = {
            $AutoPlay: "False"=="True"?false:"on" == "on",//自动播放
            $PlayOrientation: 1,//2为向上滑，1为向左滑
            $Loop: 1,//循环
            $Idle: parseInt("3000"),//切换间隔
            $SlideDuration: "1000",//延时
            $SlideEasing: $Jease$.$OutQuint,
            
             $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: GetSlideAnimation("3", "1000"),
                $TransitionsOrder: 1
            },
            
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $ActionMode: "1"
            }
        };
        //初始化幻灯
        var slide = new $JssorSlider$("slider_smv_con_74_39", jssor_1_options_con_74_39);
        $('#smv_con_74_39').data('jssor_slide', slide);
         //resize游览器的时候触发自动缩放幻灯秀
        $(window).bind("resize", function (e) {
            if (e.target == this) {
                var $this = $('#slider_smv_con_74_39');
                var ww = $(window).width();
                var width = $this.parent().width();

                if (ww > width) {
                    var left = parseInt((ww - width) * 10 / 2) / 10;
                    $this.css({ 'left': -left });
                } else {
                    $this.css({ 'left': 0 });
                }
                slide.$ScaleWidth(ww);
            }
        });
        //幻灯栏目自动或手动切换时触发的事件
        slide.$On($JssorSlider$.$EVT_PARK, function (slideIndex, fromIndex) {
            var $slideWrapper = $("#slider_smv_con_74_39 .w-slide-inner:last");
            var $fromSlide = $slideWrapper.find(".content-box:eq(" + fromIndex + ")");
            var $curSlide = $slideWrapper.find(".content-box:eq(" + slideIndex + ")");
            var $nextSlide = $slideWrapper.find(".content-box:eq(" + (slideIndex + 1) + ")");
            $("#smv_con_74_39").attr("selectArea", $curSlide.attr("data-area"));
            $fromSlide.find(".animated").smanimate("stop");
            $curSlide.find(".animated").smanimate("stop");
            $nextSlide.find(".animated").smanimate("stop");
            $("#switch_con_74_39 .page").html(slideIndex + 1);
            $curSlide.find(".animated").smanimate("replay");
            return false;
        });
        //切换栏点击事件
        $("#switch_con_74_39 .left").unbind("click").click(function () {
            if(con_74_39_page==1){
                con_74_39_page =3;
            } else {
                con_74_39_page = con_74_39_page - 1;
            }
            $("#switch_con_74_39 .page").html(con_74_39_page);
            slide.$Prev();
            return false;
        });
        $("#switch_con_74_39 .right").unbind("click").click(function () {
            if(con_74_39_page==3){
                con_74_39_page = 1;
            } else {
                con_74_39_page = con_74_39_page + 1;
            }
           $("#switch_con_74_39 .page").html(con_74_39_page);
         slide.$Next();
         return false;
        });
    };
    $(function () {
        //获取幻灯显示动画类型
        var $this = $('#slider_smv_con_74_39');
        var dh = $(document).height();
        var wh = $(window).height();
        var ww = $(window).width();
        //如果在内容区,区内容区宽度（不区分header ，footer ，main）
        var width = 1000;
        //区分页头、页尾、内容区宽度
        if ($this.parents(".header").length > 0) {
            width = $this.parents(".header").width();
        } else if ($this.parents(".footer").length > 0) {
            width = $this.parents(".footer").width();
        } else {
            width = $this.parents(".smvContainer").width();
        }

        if (ww > width) {
            var left = parseInt((ww - width) * 10 / 2) / 10;
            $this.css({ 'left': -left, 'width': ww });
        } else {
            $this.css({ 'left': 0, 'width': ww });
        }

        if (VisitFromMobile()) {
            $this.css("min-width", width);
            setTimeout(function () {
                var boxleft = (width - 330) / 2;
                $this.find(".w-slide-btn-box").css("left", boxleft + "px");
            }, 300);
        }
        $this.children().not(".slideArrow").css({ "width": $this.width() });

        con_74_39_sliderset3_init();

        var areaId = $("#smv_con_74_39").attr("tareaid");
        if(areaId==""){
            var mainWidth = $("#smv_Main").width();
            $("#smv_con_74_39 .slideset_AreaC").css({"width":mainWidth+"px","position":"relative","margin":"0 auto"});
        }else{
            var controlWidth = $("#smv_con_74_39").width();
            $("#smv_con_74_39 .slideset_AreaC").css({"width":controlWidth+"px","position":"relative","margin":"0 auto"});
        }
        $("#smv_con_74_39").attr("selectArea", "Area0");

        var arrowHeight = $('#slider_smv_con_74_39 .w-slide-arrowl').eq(-1).outerHeight();
        var arrowTop = (18 - arrowHeight) / 2;
        $('#slider_smv_con_74_39 .w-slide-arrowl').eq(-1).css('top', arrowTop);
        $('#slider_smv_con_74_39 .w-slide-arrowr').eq(-1).css('top', arrowTop);
    });
</script>
</div></div></div></div>
<input type='hidden' name='__RequestVerificationToken' id='token__RequestVerificationToken' value='ShzG_8bdsGUpnPBonxGwv_dIdNkKrTlgXlpIbTxNfzbeFc7AFeMiE4eo3zD5nKxIisoVZ8nwN6_n2aiN2WaYZfRMQG-BfWWVOLN4mB3-7Qg1' />
    
    <div id="systemDialogLayer" style="position:relative;z-index:999999"></div>
        <div style='display: none'>
            <script type='text/javascript' src='https://v1.cnzz.com/z_stat.php?id=1278785603&web_id=1278785603'>
            </script>
        </div>
</body>
</html>
